@charset "UTF-8";
/**
 * @author: Rodrigo Garay (rodrigorafaelgaray)
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);

/* AJOUTER UNE TABLE DES MATIÈRES POUR POUVOIR NAVIGUER LA CSS*/

/*
    - STYLE GÉNÉNÉRALE
    - HEADER
    - SECTION ACCEUIL
        - Acceuil générale
        - Logo
    - SECTION QUESTION
        - Barre de progression
        - Fieldset générale
        - Choix de réponses
        - Paragraphes d'erreurs
    - SECTION RESULTAT
    - BOUTONS
    - FOOTER
*/


/* STYLE GÉNÉRALE */

main{
    padding: 1%;
    background-color: var(--couleur-dominante-clair);
}

img{
    max-width: 100%;
    max-height: 100%;
}

#page{
    background-color: var(--couleur-dominante-clair);
}

/* HEADER */


/* SECTION ACCEUIL */

    /* Acceuil générale */
    #accueil{
    }

    /* Logo */
    .logo_pingouin{
        width: 30%;
        height: auto;
        padding: 2rem;
        float: left;
    }

    /* Text */
    .text__acceuil{
        width: auto;
    }

    /* Bouton Acceuil */


/* SECTION QUESTION */

    /* barre de progression */

    /* *,
    *:before,
    *:after {
        box-sizing: inherit;
    } */

    .section__barre-de-progression {
        max-width: 235px;
        width: 100%;
    }

    .progressbar-wrapper {
        background-color: #D6ECFC;
        border: 3px solid #5DA29D;
        border-radius: 40px;
        width: 100%;
    }

    .progressbar {
        background-color: #1F487A;
        color: white;
        padding: 1rem;
        font-size: 20px;
        border-radius: 15px;
    }

    .progres__1{
        width: 33%;
    }

    .progres__2 {
        width: 66%;
    }

    .progres__3 {
        width: 100%;
    }

    .progres__completee{
        background-color: #F6CC75;
        border-color: #1F487A;
        width: 100%;
    }

    /* Fieldset générale */

    fieldset{
        border: none;
    }

    /* Choix de réponses */

    .choixReponses{
        display: grid;
        grid-gap: 0;
        grid-template-areas:
            "choixA"
            "choixB"
            "choixC"
            "choixD"
    }

    @media only screen and (min-width: 600px) {
        .choixReponses {
            grid-template-areas:
                "choixA   choixB"
                "choixC   choixD";
        }
    }

    @media only screen and (min-width: 1024px) {
        .choixReponses {
            grid-gap: 20px;
            grid-template-areas:
                "choixA  choixB  choixC  choixD";

            /* CENTRAGE */
            max-width: 1000px;
            margin: 0 auto;
            padding: 0;
        }
    }

    /* aires occupées par les éléments d'interface */
    .choixA {
        grid-area: choixA;
    }

    .choixB {
        grid-area: choixB;
    }

    .choixC {
        grid-area: choixC;
    }

    .choixD {
        grid-area: choixD;
    }

    .choix{
        padding: 1em;
        list-style: none;
    }

    /* Paragraphes d'erreurs */

    .erreur{
        border-top: .3em solid rgb(255, 0, 0);
        border-radius: 1em;
    }


/* SECTION RESULTAT */
.resultat__entete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) {
    .resultat__entete{
        flex-direction: row;
    };
    .progressbar-wrapper {
        align-self: flex-end;
    }
}


/* BOUTONS */

.bouton__acceuil {
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
  
.bouton__acceuil span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--couleur-dominante-principal);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif
} 

.bouton__acceuil:hover {
    background-size: contain;
    cursor: pointer;
} 

.bouton__acceuil:hover span{
    font-weight: bolder;
}

.bouton__acceuil:hover rect, .bouton__acceuil:hover path {
    fill: var(--couleur-accent_2_clair);
    transition: fill 0.3s ease-in-out;
}

/* FOOTER */
footer{
    background-color: #1F487A;
    color: #F6CC75;
    text-align: center;
    padding: 2em;
    margin-top: 5rem;
}

footer p{
    font-weight: bold;
}