@charset "UTF-8";
/**
 * @author: Rodrigo Garay (rodrigorafaelgaray)
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);

/* AJOUTER UNE TABLE DES MATIÈRES POUR POUVOIR NAVIGUER LA CSS*/

/*
    - STYLE GÉNÉNÉRALE
    - HEADER
    - BARRE DE PROGRESSION
    - FIELDSET QUESTION
        - Fieldset générale
        - Choix de réponses
        - Paragraphes d'erreurs
    - FOOTER
*/


/* STYLE GÉNÉRALE */




/* HEADER */



/* BARRE DE PROGRESSION */

/* *,
*:before,
*:after {
    box-sizing: inherit;
} */

.section__barre-de-progression {
    max-width: 235px;
    width: 100%;
}

.progressbar-wrapper {
    background-color: #D6ECFC;
    border: 3px solid #5DA29D;
    border-radius: 40px;
    width: 100%;
}

.progressbar {
    background-color: #1F487A;
    color: white;
    padding: 1rem;
    font-size: 20px;
    border-radius: 15px;
}

.progres__1{
    width: 33%;
}

.progres__2 {
    width: 66%;
}

.progres__3 {
    width: 100%;
}

.progres__completee{
    background-color: #F6CC75;
    border-color: #1F487A;
    width: 100%;
}


/* FIELDSET QUESTION */

    /* Fieldset générale */

    fieldset{
        border: none;
    }

    /* Choix de réponses */

    .choixReponses{
        display: grid;
        grid-gap: 0;
        grid-template-areas:
            "choixA"
            "choixB"
            "choixC"
            "choixD"
    }

    @media only screen and (min-width: 600px) {
        .choixReponses {
            grid-template-areas:
                "choixA   choixB"
                "choixC   choixD";
        }
    }

    @media only screen and (min-width: 1024px) {
        .choixReponses {
            grid-gap: 20px;
            grid-template-areas:
                "choixA  choixB  choixC  choixD";

            /* CENTRAGE */
            max-width: 1000px;
            margin: 0 auto;
            padding: 0;

            /* Grille 12 colonnes en arrière-plan - À utiliser au besoin */
            /* background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(0, 0, 255, 0.2);" /%3E%3Cstop offset="100%" style="stop-color:rgba(0, 0, 255, 0.1);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="6.7796610169%" height="100%"/%3E%3Crect x="8.4745762712%" width="6.7796610169%" height="100%"/%3E%3Crect x="16.9491525424%" width="6.7796610169%" height="100%"/%3E%3Crect x="25.4237288136%" width="6.7796610169%" height="100%"/%3E%3Crect x="33.8983050847%" width="6.7796610169%" height="100%"/%3E%3Crect x="42.3728813559%" width="6.7796610169%" height="100%"/%3E%3Crect x="50.8474576271%" width="6.7796610169%" height="100%"/%3E%3Crect x="59.3220338983%" width="6.7796610169%" height="100%"/%3E%3Crect x="67.7966101695%" width="6.7796610169%" height="100%"/%3E%3Crect x="76.2711864407%" width="6.7796610169%" height="100%"/%3E%3Crect x="84.7457627119%" width="6.7796610169%" height="100%"/%3E%3Crect x="93.2203389831%" width="6.7796610169%" height="100%"/%3E%3C/svg%3E') no-repeat scroll; */
        }
    }

    /* aires occupées par les éléments d'interface */
    .choixA {
        grid-area: choixA;
    }

    .choixB {
        grid-area: choixB;
    }

    .choixC {
        grid-area: choixC;
    }

    .choixD {
        grid-area: choixD;
    }

    .choix{
        padding: 1em;
        list-style: none;
    }

    /* Paragraphes d'erreurs */

    .erreur{
        border-top: .3em solid rgb(255, 0, 0);
        border-radius: 1em;
    }

/* FOOTER */
footer{
    background-color: #1F487A;
    color: #F6CC75;
    text-align: center;
    padding: 2em;
}

footer p{
    font-weight: bold;
}