@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

/**
 * Charte typographique: 
 * base décimale et redimensionnement selon taille de l'écran
 * ============================================================ 
 */

h1{
    font-family: 'Suez One', serif;
    color: var(--couleur-dominante-principal);
}

h2{
    font-family: 'Sora', serif;
    color: var(--couleur-dominante-principal);
}

h3, h4, h5{
    font-family: 'Inter', sans-serif;
    color: var(--couleur-dominante-principal);
}

body {
    font-family: 'Sora', serif;
}


/* Base décimale */
html {
    font-size: 62.5%;
}


body {
    /* 16px pour toutes les largeurs d'écran */
    font-size: 1.6rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
}

@media (min-width: 600px) {
    body {
        line-height: 1.5;
    }
}

@media (min-width: 800px) {
    body {
        line-height: 1.75;
    }
}


/* Hiérarchie responsive : 
   plus proche = plus petit  
   &  plus loin = plus grand */
h1 {
    /* = 32px */
    font-size: 3.2rem;
    font-weight: 400;
}

@media (min-width: 600px) {
    h1 {
        /* = 36px */
        font-size: 3.6rem;
    }
}


h2 {
    /* = 24px */
    font-size: 2.4rem;
    font-weight: 600;
}

@media (min-width: 600px) {
    h2 {
        /* = 28px */
        font-size: 2.8rem;
    }
}

h3 {
    /* = 20px */
    font-size: 2.0rem;
    font-weight: 600;
}

@media (min-width: 600px) {
    h3 {
        /* = 24px */
        font-size: 2.4rem;
    }
}